/*Site-Wide*/

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	/*background-color: #303030;*/
	background-image: url(https://s-media-cache-ak0.pinimg.com/236x/c5/31/0c/c5310cd8e766595915405683d7bd3cb1.jpg);
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
	color: #0DC478;
	text-decoration: none;
}

a:visited { 
	text-decoration: none; 
	color:#0DC478; 
}

#modal {
	/*display: none;*/
	z-index: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	background-color: #303030;
	opacity: 0.97;
}

#body-wrapper {
	/*width: 90%;*/
	/*margin: 0 auto;*/
}



/*Header Info*/

header {
	position: relative;
	z-index: 1;
	font-family: 'Miriam Libre', sans-serif;
	text-align: center;
	/*border: 1px solid white;*/
	float: left;
	padding: 20px 15px 30px 35px;
}

/*Sets my name to load with red shadow*/
.my_name { 
	color: white;
	font-weight: 700;
	text-shadow: 0px -1px #FF4956, 
							 0px -2px #FF4956, 
							 0px -3px #FF4956, 
							 0px -4px #FF4956, 
							 0px -5px #FF4956;
	font-size: 65px;
}

/*For jQuery to re-add red shadow to my name*/
.my_name_red {
	color: white;
	font-weight: 700;
	text-shadow: 0px -1px #FF4956, 
							 0px -2px #FF4956, 
							 0px -3px #FF4956, 
							 0px -4px #FF4956, 
							 0px -5px #FF4956;
	font-size: 65px;
}

/*For jQuery to add blue shadow to my name*/
.my_name_blue {
	color: white;
	font-weight: 700;
	text-shadow: 0px -1px #0095F9, 
							 0px -2px #0095F9, 
							 0px -3px #0095F9, 
							 0px -4px #0095F9, 
							 0px -5px #0095F9;
	font-size: 65px;
}

/*For jQuery to add green shadow to my name*/
.my_name_green {
	color: white;
	font-weight: 700;
	text-shadow: 0px -1px #0DC478, 
							 0px -2px #0DC478, 
							 0px -3px #0DC478, 
							 0px -4px #0DC478, 
							 0px -5px #0DC478;
	font-size: 65px;
}

/*For Web Developer sub-head*/
#my_title {
	font-size: 18px;
	color: #FF4956;
}

/*Nav links*/
#bio-button {
	z-index: 100;
	color: #FF4956;
	cursor: pointer;
}

#projects-button {
	z-index: 100;
	cursor: pointer;
}

#contact-button {
	z-index: 100;
	cursor: pointer;
}

#links {
	position: relative;
	z-index: 1;
	font-weight: 400;
	margin: 75px 60px 60px 60px;
	font-size: 22px;
	float: right;
	padding: 0;
	color: white;
}

#links li {
	display: inline;
	/*padding-left: 30px;*/
	text-align: center;
	padding: 26px;
}





/*Contact Div*/
#contact-wrapper {
	/*display: none;*/
	position: absolute;
	z-index: 2;
	background-color: white;
	height: 80%;
	width: 100%;
	bottom: 0;
	box-shadow: 0px -1px 10px black;
	border-radius: 40px 40px 0px 0px;
}

#contact-header {
	position: relative;
	top: 30px;
	text-align: center;
	font-weight: 300;
	font-size: 28px;
	/*border: 1px solid white;*/
}

#contacters-1 {
	float: left;
	width: 49%;
	list-style: none;
	margin-top: 7%;
	height: 60%;
	padding: 0;
}

#link-wrapper {
	position: relative;
	top: 40px;
	width: 60%;
	margin: 0 auto;
}

#contacters-2 {
	float: right;
	width: 49%;
	list-style: none;
	margin-top: 7%;
	height: 60%;
	padding: 0;
}

.contact-button {
	color: white;
	font-size: 65px;
	padding: 10px;
	background: #303030;
	opacity: .4;
	border-radius: 20px;
}

.contact-button:hover {
	background: white;
	opacity: 1;
}

.contact-text {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}





/*Projects Div*/

#projects-wrapper {
	/*display: none;*/
	position: absolute;
	z-index: 4;
	background-color: white;
	height: 77%;
	width: 100%;
	bottom: 0;
	/*border: 2px solid grey;*/
	box-shadow: 0px -1px 10px #303030;
	border-radius: 40px 40px 0px 0px;
}

#project-icons li {
	display: inline-block;
	list-style: none;
	margin: 0;
}

#project-icons ul {
	list-style: none;
}

.tool-wrapper {
	display: inline-block;
	width: 100%;
	padding: 10px;
}

.tool {
	float: left;
	margin: 3px 2px 3px 2px;
	padding: 5px;
	background: white;
	border-radius: 8px;
	font-size: 15px;
}

#bandly {
	cursor: pointer;
	font-size: 28px;
	font-weight: 300;
	display: inline;
	margin: 50px 100px 5px 100px;
	padding: 10px;
}

#bandly:hover {
	color: lightgrey;
}

#neighborino {
	cursor: pointer;
	font-size: 28px;
	font-weight: 300;
	margin: 30px 100px 5px 100px;
	padding: 10px;
	border-bottom: 2px solid white;
}

#neighborino:hover {
	color: lightgrey;
}

#jukebox {
	cursor: pointer;
	font-weight: 300;
	font-size: 28px;
	margin: 30px 100px 5px 100px;
	padding: 10px;
}

#jukebox:hover {
	color: lightgrey;
}

#neighborino-content-wrapper {
	position: relative;
	top: 30px;
	width: 85%;
	margin: 0 auto;
}

#bandly-content-wrapper {
	display: none;
	position: relative;
	top: 30px;
	width: 85%;
	margin: 0 auto;
}

#jukebox-content-wrapper {
	display: none;
	position: relative;
	top: 30px;
	width: 85%;
	margin: 0 auto;
}

.screens {
	float: left;
	width: 475px;
	opacity: 0;
	border-radius: 10px;
}

#bandly-info {
	float: right;
	text-align: left;
	width: 50%;
	font-size: 18px;
	/*border: 1px solid white;*/
	/*margin-top: 2%;*/
}

#bandly-info ul {
	clear: both;
	padding: 0;
	margin: 0;
}

#bandly-info p {
	clear: both;
	padding: 0;
	margin: 0;
}

#neighborino-info {
	float: right;
	text-align: left;
	width: 50%;
	font-size: 18px;
	/*border: 1px solid white;*/
	/*margin-top: 2%;*/
}

#neighborino-info p {
	clear: both;
	padding: 0;
	margin: 0;
}

#jukebox-info {
	float: right;
	text-align: left;
	width: 50%;
	font-size: 18px;
	/*border: 1px solid white;*/
	/*margin-top: 2%;*/
}





/*Bio Div*/

#bio-wrapper {
	/*display: none;*/
	width: 100%;
	position: absolute;
	z-index: 6;
	background-color: #FF4956;
	height: 74%;
	bottom: 0;
	/*border-top: 3px solid grey;*/
	box-shadow: 0px -1px 10px #303030;
	border-radius: 40px 40px 0px 0px;
}

#hi {
	margin: 0;
	padding: 0;
	float: left;
	/*border: 1px solid white;*/
	width: 39.5%;
	font-size: 23vw;
}

#bio-body {
	text-align: left;
	margin: 0;
	padding-top: 70px;
	float: left;
	/*border: 1px solid white;*/
	width: 55%;
	font-size: 2vw;
}

.content-head {
	width: 100%;
	display: inline-block;
}

.sub-wrapper {
	display: block;
	width: 95%;
	height: 100%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

.dev-line {
	font-size: 15px;
	/*font-weight: 100;*/
	/*font-style: italic;*/
}




/*For post-it tabs*/

/*#contact-postit {
  z-index: 1;
  top: 100px;
  position: relative;
  margin-left: 80%;
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}



#project-postit {
  z-index: 3;
  top: -20px;
  position: relative;
  margin-left: 42%;
}


#bio-postit {
  z-index: 5;
  top: -160px;
  position: relative;
  margin-left: 0%;
}*/



